$nav-text-color: #e9ebf0;
$nav-active-color: rgb(52, 195, 255);
$nav-bg: #0f131a;
$content-text-color: black;
$content-bg: rgba(242, 242, 242, 255);
$category-bg: rgba(242, 242, 242, 0.5);
$main-bg: #fff;
$btn-hover-bg: #3c3f43;
